html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0;
    background-color: #E7E8E7;

}

main {
    max-height: 100vh;
    overflow-y: auto;
    flex: 1;  
    margin-bottom: 500px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    flex: 1;
}

header {
    padding: 20px 0;
   
}

.custom-header {
    background-color: #212429;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #FF6F00;
}


.search-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form-container input {
        border-radius: 5px;
        width: 500px;
        height: 32px;
        margin-right: 1px;
        font-weight: bold;
}

.search-form-container button {
        font-family: 'Arial', sans-serif;
        background-color: dodgerblue;
        width: 100px;
        font-weight: bold;
        border-radius: 5px;
        height: 32px;
        color: white;
}



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

    .footer h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .footer p {
        margin: 0;
        line-height: 1.6;
    }

    .footer ul {
        padding: 0;
        list-style: none;
    }

        .footer ul li {
            margin-bottom: 10px;
        }

            .footer ul li a {
                color: #ddd;
                transition: color 0.3s;
            }

                .footer ul li a:hover {
                    color: #007bff; 
                }

    .footer .social-icons a {
        text-decoration: none;
        color: #ddd; 
        margin-right: 15px;
        transition: color 0.3s;
    }

        .footer .social-icons a:hover {
            color: #007bff;
        }

    .footer .text-center {
        margin-top: 20px;
        font-size: 14px;
        color: #aaa;
    }


    



