@using Microsoft.AspNetCore.Identity
@using AutoPartsShop.Models 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="login-container">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <p style="color: coral; font-weight: bold;">Здравейте, @User.Identity.Name!</p>
            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="btn btn-link" style="color: coral;text-decoration: none;">Изход</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary">Вход</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary">Регистрация</a>
        </div>
    }
</div>


