
    <div style="width: 100%; height: 250px; background-image: url('https://thepride.in/wp-content/uploads/2020/03/Engine_oil.jpg'); background-size: cover; background-position: center; border-radius: 10px;">
    </div>

    <h1 style="font-size: 24px; color: #333; margin: 20px 0 10px;">Най-добрите масла за вашия автомобил</h1>

    <p style="font-size: 14px; color: #555; text-align: center; margin: 0 0 20px;">
        Осигурете на двигателя си дълъг живот и надеждна работа с нашата селекция от първокласни масла.
    </p>


<a href="@Url.Action("ProductSearch", "Product")" style="background-color: dodgerblue; color: #fff; border: none; padding: 10px 15px; font-size: 16px; border-radius: 5px; cursor: pointer; text-decoration: none; text-align: center; display: inline-block;  font-weight: bold;">
        Виж всички масла
    </a>
</div>
