@{
    ViewData["Title"] = "Търсене по VIN";
}

@section Styles
{
    <link href="~/css/SearchFormByVin.css" rel="stylesheet" />
}

<div class="search-form">
    <form asp-controller="Cars" asp-action="SearchByVin" method="get" id="searchForm">
        <h2>Търсене по VIN</h2>

        <div class="form-group">
            <label for="vin">Въведете VIN:</label>
            <input type="text" id="vin" name="vin" class="form-control" required placeholder="Пример: WAUZZZ8K4AA123456" aria-label="Въведете VIN" maxlength="17" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Търсене</button>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert mt-3">
                @TempData["ErrorMessage"]
            </div>
        }
    </form>
</div>
