@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Страницата не е намерена</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f7f7f7; color: #333; display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">

    <img src="https://img.freepik.com/free-vector/404-error-background-with-car-wheel-flat-style_23-2147761283.jpg?t=st=1732800152~exp=1732803752~hmac=a50c7d8b0658a4e3d78e365908e2f12eb538389a1c691cad1687fc689dd2a9bd&w=1060"
         alt="Грешка 404 - Автомобил"
         style="max-width: 600px; width: 100%; height: auto; margin: 20px 0;" />

    <a href="/" style="text-decoration: none; color: white; background-color: #007bff; padding: 10px 20px; border-radius: 5px; font-size: 16px; display: block; margin-top: 20px;">
        Върнете се към началната страница
    </a>

</body>
</html>
