
 <div 
     style="display: flex; flex-wrap: wrap; gap: 100px; margin: 20px;">

    
    <div style="flex: 1 1 300px; background-color: #8FBFDA; padding: 10px 20px; border-radius: 10px; max-height: 270px; overflow: hidden">
        <partial name="_SearchFormByVin" />
    </div>

   
    <div style="flex: 1 1 300px; background-color: #8FBFDA; padding: 15px; border-radius: 10px;">
        <partial name="_SearchFormOil" />
    </div>

    
    <div style="flex: 1 1 100%; padding: 50px; border-radius: 20px; border: 1px solid #727272; margin-top: 60px;">
        <div style="text-align: center; margin-bottom: 20px;">
            <partial name="_SearchByCategory" />
        </div>
    <div style="margin-top: 20px; display: flex; flex-wrap: wrap; gap: 20px;">
        <img src="https://www.stirlingkit.com/cdn/shop/products/teching-v8-mechanical-metal-assembly-diy-car-engine-model-kit-500-pcs-educational-experiment-toy_773d64ec-6233-4948-bfb8-a1b448b67efb_540x.jpg?v=1659532754" alt="Search by Category" style="width: 190px; height: 190px; border-radius: 10px;">
        <img src="https://tediousrepairs.com/wp-content/uploads/2023/06/Brake-Caliper-6.png" alt="Search by Category" style="width: 190px; height: 190px; border-radius: 10px;">
        <img src="https://blog.greenflag.com/wp-content/uploads/2020/07/Green-Flag-Aug-Suspension-kvsan-1024x804.jpg" alt="Search by Category" style="width: 190px; height: 190px; border-radius: 10px;">
        <img src="https://img.freepik.com/free-photo/different-car-accessories-assortment_23-2149030432.jpg?semt=ais_hybrid" alt="Search by Category" style="width: 190px; height: 190px; border-radius: 10px;">
        <img src="https://www.shutterstock.com/image-vector/realistic-car-engine-motor-oil-600nw-2421927193.jpg" alt="Search by Category" style="width: 190px; height: 190px; border-radius: 10px;">
    </div>
</div>
